---
name: Docker
permissions:
  contents: read

on:
  push:
    branches: [ master ]
    tags: [ 'v*.*.*' ]

jobs:
  buildx:
    name: Build and publish containers
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up emulation
        uses: docker/setup-qemu-action@v3
      - name: Set up buildx command
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.x'
      - name: Login to Docker Hub
        uses: docker/login-action@v3 
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Set up Mage
        uses: magefile/mage-action@v3
        with:
          install-only: true
          version: v1.14.0
      - name: Build and publish containers
        run: mage -v docker:push
        env:
          GITHUB_REF: ${{ github.ref }}
          DOCKER_PLATFORMS: "linux/amd64,linux/arm64,linux/arm/v7"
