---
name: Lint

on:
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  golangci:
    name: Lint
    strategy:
      matrix:
        version: [1.26.x]
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.version }}
      - name: golangci-lint
        run: go tool mage go:lint
