---
name: Test 
permissions:
  contents: read

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    name: Tests
    strategy:
      matrix:
        version: [1.25.x]
        os: [ubuntu-22.04, ubuntu-24.04, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.version }}
        id: go
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Python
        if: matrix.os != 'windows-latest'
        uses: actions/setup-python@v6
        with:
          python-version: '3.11.x'
      - name: Run tests
        run: go tool mage -v test:all
      - name: Codecov upload
        if: ${{ github.actor != 'dependabot[bot]' && matrix.os != 'windows-latest' }}
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage/all.profile
          flags: ${{ contains(matrix.os, 'ubuntu') && 'linux' || (contains(matrix.os, 'macos') && 'darwin' || 'windows') }}
          fail_ci_if_error: true
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      
  test-docker:
    name: Tests (PKCS#11/SoftHSM)
    strategy:
      matrix:
        version: [1.25]
        os: [ubuntu-24.04]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.version }}
      - name: Run tests in Docker
        run: GO_VERSION=${{ matrix.version }} go tool mage -v test:docker
      - name: Codecov upload
        uses: codecov/codecov-action@v5
        if: ${{ github.actor != 'dependabot[bot]' }}
        with:
          files: ./coverage/all.profile
          flags: linux
          fail_ci_if_error: true
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
