---
name: Test 

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Unit tests
    strategy:
      matrix:
        version: [1.16.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.version }}
        id: go
      - name: Check out code
        uses: actions/checkout@v2
      - name: Build binary
        run: make ghostunnel
      - name: Run tests
        run: make unit
      
  integration-linux:
    name: Integration tests (Linux)
    strategy:
      matrix:
        version: [1.16]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Run tests 
        run: GO_VERSION=${{ matrix.version }} make docker-test
    
  integration-darwin:
    name: Integration tests (Darwin)
    strategy:
      matrix:
        version: [1.16.x]
        os: [macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.version }}
        id: go
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Check out code
        uses: actions/checkout@v2
      - name: Run tests
        run: make test 
